body {
 background-image: url('https://github.com/RobForMe/paginamarcela/blob/main/Fondo1.jpg');
 background-size: 350px;
 position: relative;
 background-repeat: repeat;
}

body::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    opacity: 0.5;
 }


body h1, h5 {
    position: relative;
}
 

body h1 {
    font-family: sans-serif;
    width: 100%;
    font-style: normal;
    color: white;
    opacity: 0.6;
}

body h5 {
    font-size: 18px;
    font-family: sans-serif;
    width: 100%;
    font-style: oblique;
    color: white;
    opacity: 0.6;
    background: rgb(0, 0, 0);
}
